[Service]
Environment=VARIABLE=FONT=
ExecStartPre=/bin/sh -c '. /etc/os-release; case $${ID} in *bian*) FILE=/etc/default/console-setup;; *suse*|*rhel*) FILE=/etc/vconsole.conf;; *) echo "$${ID} not supported yet"; exit 1;; esac; sed -i "/#${VARIABLE}/t;/^${VARIABLE}/{s/^/#/;:s;n;/^#${VARIABLE}/{s/^#//;t};b s}" $${FILE}; grep -q "^$${VARIABLE}" $${FILE} || sed -i "0,/^#$${VARIABLE}/{s/^#$${VARIABLE}/$${VARIABLE}/}" $${FILE}'
